{%- set cover_title -%}
   {%- if CI_COMMIT_TAG is defined -%}
      {{CI_COMMIT_TAG}} Release
   {%- else -%}
      DRAFT version {{CI_COMMIT_SHORT_SHA | default("local")}}
   {%- endif -%}
{% endset -%}
site_name: Gaia-X Architecture Document - {{ cover_title }}
theme: readthedocs
repo_url: https://gitlab.com/gaia-x/gaia-x-technical-committee/gaia-x-architecture-document
edit_uri: edit/master/architecture_document/
docs_dir: architecture_document
site_dir: public
extra_css: [extra.css]
extra_javascript:
  - https://unpkg.com/mermaid@8.13.2/dist/mermaid.min.js
  - extra.js

nav:
 - README.md
 - overview.md
 - conceptual_model.md
 - operating_model.md
 - federation_service.md
 - usecase.md
 - ecosystem.md
 - glossary.md
 - changelog.md
 - reference.md
 - appendix.md

plugins:
 - search
 - mermaid2
 - exclude:
    glob:
    - glossary/*
{%- if generate_pdf is defined %}
 - with-pdf:
    verbose: true
    author: Gaia-X European Association for Data and Cloud AISBL
    copyright: ©2021 Gaia-X European Association for Data and Cloud AISBL
    cover_title: Gaia-X Architecture Document
    cover_subtitle: {{ cover_title }}
    cover_logo: figures/gaia-x-logo-full.svg
    render_js: true
    headless_chrome_path: chromium
    debug_html: true
    custom_template_path: template_pdf
{%- endif %}
 - enumerate-headings

markdown_extensions:
 - smarty
 - toc
 - footnotes
 - plantuml_markdown:
      server: http://www.plantuml.com/plantuml
 - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_png
