/* PDF fonts */
@media print {
  html,  body,
  article,
  h1, h2, h3, h4, h5, h6,
  label, ul, li {
    font-family: "Titillium Web" !important;  
  }
  table {
    border-top: 6px solid rgb(185, 0, 255) !important;
    border-bottom: 4px solid rgb(185, 0, 255) !important;
    display: block;
  }
  table tr:nth-child(2n+1) {
    background-color: #F3F6F6;
  }
  table tr:nth-child(2n) {
    background-color: #FCFCFC;
  }

  html, body,
  article,
  label, ul, li,
  table, thead, tbody, tr, td, article#doc-toc ul {
    font-family: "Titillium Web" !important;  
    font-size: 10pt !important; // default size in LaTeX document
  }

  table.docutils {
    border-top: 6px solid rgb(185, 0, 255) !important;
    border-bottom: 4px solid rgb(185, 0, 255) !important;
  }

  td, th {
    /* border: 5px solid #fff !important; */
    border: 3px solid #fff !important;
    /* font-style:normal; */
    color:#000094;
    padding: 1em;
  }

  th {
    /* font-size:12pt;
    font-family: "Titillium Web",sans-serif; */
    background-color: #ECECEC;
  }
}
.custom-logo {
  position: absolute;
  top: 50px;
  right: 50px;
}